{
  "macaddress": "00:EA:BB:CC:15:78",
  "mqtt_address": "192.168.15.6",
  "mqtt_port": 1883,
  "mqtt_username": "homeassistant",
  "mqtt_password": "your_mqtt_password_here",
  "sensors": [
    { "type": "reserved", "pin1": 14, "pin2": 15 },
    { "type": "reserved", "pin1": 16, "pin2": 17 },
    { "type": "reserved", "pin1": 18, "pin2": 19 },
    { "type": "reserved", "pin1": 20, "pin2": 21 },
    { "type": "door2", "pin1": 22, "pin2": 23 },
    { "type": "door2", "pin1": 24, "pin2": 25 },
    { "type": "door2", "pin1": 26, "pin2": 27 },
    { "type": "motion2", "pin1": 30, "pin2": 31 },
    { "type": "motion2", "pin1": 32, "pin2": 33 },
    { "type": "motion2", "pin1": 34, "pin2": 35 },
    { "type": "window2", "pin1": 38, "pin2": 39 },
    { "type": "window2", "pin1": 40, "pin2": 41 },
    { "type": "window2", "pin1": 42, "pin2": 43 },
    { "type": "window2", "pin1": 44, "pin2": 45 },
    { "type": "motion2", "pin1": "A0", "pin2": "A1" },
    { "type": "motion2", "pin1": "A2", "pin2": "A3" },
    { "type": "motion2", "pin1": "A4", "pin2": "A5" },
    { "type": "motion2", "pin1": "A6", "pin2": "A7" },
    { "type": "motion2", "pin1": "A8", "pin2": "A9" },
    { "type": "motion2", "pin1": "A10", "pin2": "A11" },
    { "type": "switch1_radiator", "pin1": 7, "pin2": -1 },
    { "type": "reserved", "pin1": 0, "pin2": 1 },
    { "type": "reserved", "pin1": 8, "pin2": -1 },
    { "type": "reserved", "pin1": 13, "pin2": -1 },
    { "type": "reserved", "pin1": 50, "pin2": 51 },
    { "type": "reserved", "pin1": 52, "pin2": 53 }
  ]
}
